<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="font-family: Fira Code ; background-color:black ; color:whitesmoke">
  <h3>THIS IS A TEMPLATE RENDERED FROM <span style="background-color:orange; color:white ; padding:10px;border-radius:8px">HANDLE BARS</span></h3>
  <h2 style="color:cornflowerblue ; background-color: #eee; width:fit-content;padding:15px;border-radius: 10px;">
    {{name}} : {{age}}</h2>
  <h3>POURYA SOLEIMANI</h3>
</body>
  